{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

  <title>Devu's Book Store</title>


  <!--  -->
  <link rel="stylesheet" type="text/css" href="{% static 'my_books/assets/css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'my_books/assets/css/font-awesome.css' %}">
  <link rel="stylesheet" href="{% static 'my_books/assets/css/templatemo-hexashop.css' %}">
  <link rel="stylesheet" href="{% static 'my_books/assets/css/owl-carousel.css' %}">
  <link rel="stylesheet" href="{% static 'my_books/assets/css/lightbox.css' %}">
    
    <body>
    
    
    <!-- *****  ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="{% url 'index' %}" class="logo">
                        <img src="https://x23155906-book-bucket.s3.eu-west-1.amazonaws.com/my_books/logo.png" width="300" height="70">
                    </a>
                    <!-- *****  ***** -->
                    <!-- ***** ***** -->
                    <ul class="nav">
                        <li class="nav-item active"><a class="nav-link" href="{% url 'index' %}">Home</a></li>
                        <li class="nav-item active"><a class="nav-link" href="{% url 'order_books' %}">Order Books</a></li>
                        <li class="nav-item active"><a class="nav-link" href="{% url 'cart' %}">Your Cart</a></li>
                        {% if user.is_authenticated %}
                            <li class="nav-item"><a class="nav-link" href="#">{{ user.username }}</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                        {% else %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'signup' %}">Sign Up</a></li>
                        {% endif %}
                    </ul>        
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- *****  ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>


    <!-- *****  ***** -->

    <!-- *****  ***** -->
    <div class="main-banner" id="top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="left-content">
                        <div class="thumb">
                            <div class="inner-content">
                                <h4>Devu's Book Store</h4>
                                <span>Come &amp; Shop with us</span>
                                <div class="main-border-button">
                                    <a href="#">Purchase Now!</a>
                                </div>
                            </div>
                            <img src="https://x23155906-book-bucket.s3.eu-west-1.amazonaws.com/my_books/banner-1.jpg" alt="" width="200" height="500">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="right-content">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <div class="inner-content">
                                            <h4></h4>
                                            <span></span>
                                        </div>
                                        <div class="hover-content">
                                            <div class="inner">
                                                <h4>AUTOBIOGRAPHY</h4>
                                                <p>Buy the best AUTOBIOGRAPHY Books</p>
                                            </div>
                                        </div>
                                        <img src="https://x23155906-book-bucket.s3.eu-west-1.amazonaws.com/my_books/banner-2.jpeg" width="200" height="500">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <div class="inner-content">
                                            <h4></h4>
                                            <span></span>
                                        </div>
                                        <div class="hover-content">
                                            <div class="inner">
                                                <h4>SCI-FI</h4>
                                                <p>Buy the best SCI-FI Books</p>
                                            </div>
                                        </div>
                                        <img src="https://x23155906-book-bucket.s3.eu-west-1.amazonaws.com/my_books/banner-3.jpeg" width="200" height="500">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <div class="inner-content">
                                            <h4></h4>
                                            <span></span>
                                        </div>
                                        <div class="hover-content">
                                            <div class="inner">
                                                <h4>Romance</h4>
                                                <p>Buy the best Romance Books</p>
                                            </div>
                                        </div>
                                        <img src="https://x23155906-book-bucket.s3.eu-west-1.amazonaws.com/my_books/banner-4.jpeg" width="200" height="500">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <div class="inner-content">
                                            <h4></h4>
                                            <span></span>
                                        </div>
                                        <div class="hover-content">
                                            <div class="inner">
                                                <h4>Thriller</h4>
                                                <p>Buy the best Thriller Books</p>
                                            </div>
                                        </div>
                                        <img src="https://x23155906-book-bucket.s3.eu-west-1.amazonaws.com/my_books/banner-5.jpeg" width="200" height="500">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- *****  ***** -->

    <!-- ***** ***** -->
    <section class="section" id="men">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h2>AUTOBIOGRAPHY</h2>
                        <span>Buy the best Autobiography Books</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="men-item-carousel">
                        <div class="owl-men-item owl-carousel">
                            <div class="item">
                                <div class="thumb">
                                    <img src="https://x23155906-book-bucket.s3.eu-west-1.amazonaws.com/my_books/banner-2.jpeg" alt="" width="200" height="500">
                                </div>
                                <div class="down-content">
                                    <span> EUR 20.00</span>
                                </div>
                            </div>
                            <div class="item">
                                <div class="thumb">
                                    <img src="https://x23155906-book-bucket.s3.eu-west-1.amazonaws.com/my_books/auto_1.jpeg" alt="" width="200" height="500">
                                </div>
                                <div class="down-content">
                                    <span>EUR 14.00</span>
                                </div>
                            </div>
                            <div class="item">
                                <div class="thumb">
                                    <img src="https://x23155906-book-bucket.s3.eu-west-1.amazonaws.com/my_books/auto_2.jpeg" alt="" width="200" height="500">
                                </div>
                                <div class="down-content">
                                    <span>EUR 18.00</span>
                                </div>
                            </div>
                            <div class="item">
                                <div class="thumb">
                                    <img src="https://x23155906-book-bucket.s3.eu-west-1.amazonaws.com/my_books/auto_3.jpeg" alt="" width="200" height="500">
                                </div>
                                <div class="down-content">
                                    <span>EUR 11.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** **** -->

    <!-- ***** ***** -->
    <section class="section" id="men">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h2>SCI-FI</h2>
                        <span>Buy the best SCI-FI Books</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="men-item-carousel">
                        <div class="owl-men-item owl-carousel">
                            <div class="item">
                                <div class="thumb">
                                    <img src="https://x23155906-book-bucket.s3.eu-west-1.amazonaws.com/my_books/sci_1.jpeg" alt="" width="200" height="500">
                                </div>
                                <div class="down-content">
                                    <span> EUR 19.00</span>
                                </div>
                            </div>
                            <div class="item">
                                <div class="thumb">
                                    <img src="https://x23155906-book-bucket.s3.eu-west-1.amazonaws.com/my_books/sci_2.jpeg" alt="" width="200" height="500">
                                </div>
                                <div class="down-content">
                                    <span>EUR 13.00</span>
                                </div>
                            </div>
                            <div class="item">
                                <div class="thumb">
                                    <img src="https://x23155906-book-bucket.s3.eu-west-1.amazonaws.com/my_books/sci_3.jpeg" alt="" width="200" height="500">
                                </div>
                                <div class="down-content">
                                    <span>EUR 18.00</span>
                                </div>
                            </div>
                            <div class="item">
                                <div class="thumb">
                                    <img src="https://x23155906-book-bucket.s3.eu-west-1.amazonaws.com/my_books/sci_4.jpeg" alt="" width="200" height="500">
                                </div>
                                <div class="down-content">
                                    <span>EUR 14.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** ***** -->

    <!-- *****  ***** -->
    <section class="section" id="men">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h2>ROMANCE</h2>
                        <span>Buy the best Romantic Books</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="men-item-carousel">
                        <div class="owl-men-item owl-carousel">
                            <div class="item">
                                <div class="thumb">
                                    <img src="https://x23155906-book-bucket.s3.eu-west-1.amazonaws.com/my_books/rom_1.jpg" alt="" width="200" height="500">
                                </div>
                                <div class="down-content">
                                    <span> EUR 20.00</span>
                                </div>
                            </div>
                            <div class="item">
                                <div class="thumb">
                                    <img src="https://x23155906-book-bucket.s3.eu-west-1.amazonaws.com/my_books/rom_2.jpeg" alt="" width="200" height="500">
                                </div>
                                <div class="down-content">
                                    <span>EUR 14.00</span>
                                </div>
                            </div>
                            <div class="item">
                                <div class="thumb">
                                    <img src="https://x23155906-book-bucket.s3.eu-west-1.amazonaws.com/my_books/rom_3.jpeg" alt="" width="200" height="500">
                                </div>
                                <div class="down-content">
                                    <span>EUR 18.00</span>
                                </div>
                            </div>
                            <div class="item">
                                <div class="thumb">
                                    <img src="https://x23155906-book-bucket.s3.eu-west-1.amazonaws.com/my_books/rom_4.jpeg" alt="" width="200" height="500">
                                </div>
                                <div class="down-content">
                                    <span>EUR 11.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  
    <section class="section" id="men">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h2>THRILLER</h2>
                        <span>Buy the best Thriller Books</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="men-item-carousel">
                        <div class="owl-men-item owl-carousel">
                            <div class="item">
                                <div class="thumb">
                                    <img src="https://x23155906-book-bucket.s3.eu-west-1.amazonaws.com/my_books/thri_1.jpeg" alt="" width="200" height="500">
                                </div>
                                <div class="down-content">
                                    <span> EUR 24.00</span>
                                </div>
                            </div>
                            <div class="item">
                                <div class="thumb">
                                    <img src="https://x23155906-book-bucket.s3.eu-west-1.amazonaws.com/my_books/thri_2.jpg" alt="" width="200" height="500">
                                </div>
                                <div class="down-content">
                                    <span>EUR 19.00</span>
                                </div>
                            </div>
                            <div class="item">
                                <div class="thumb">
                                    <img src="https://x23155906-book-bucket.s3.eu-west-1.amazonaws.com/my_books/thri_3.jpeg" alt="" width="200" height="500">
                                </div>
                                <div class="down-content">
                                    <span>EUR 10.00</span>
                                </div>
                            </div>
                            <div class="item">
                                <div class="thumb">
                                    <img src="https://x23155906-book-bucket.s3.eu-west-1.amazonaws.com/my_books/thri_4.jpeg" alt="" width="200" height="500">
                                </div>
                                <div class="down-content">
                                    <span>EUR 17.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    
      <!-- *****  ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="first-item">
                        <div class="logo">
                            <img src="https://x23155906-book-bucket.s3.eu-west-1.amazonaws.com/my_books/logo.png" alt="">
                        </div>
                        <ul>
                            <li><a href="#">16A Mayor Street Lower,near Lagan house, Dublin 01 k7k6</a></li>
                            <li><a href="mailto:devusbookstore@gmail.com">devusbookstore@gmail.com</a></li>
                            <li><a href="#">+353 812356213</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li><a href="{% url 'order_books' %}">Order Books</a></li>
                    </ul>
                </div>
    
                <div class="col-lg-12">
                    <div class="under-footer">
                       
                        
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    

    <!-- jQuery -->
    <script src="{% static 'my_books/assets/js/jquery-2.1.0.min.js'%}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'my_books/assets/js/popper.js'%}"></script>
    <script src="{% static 'my_books/assets/js/bootstrap.min.js'%}"></script>

    <!-- Plugins -->
    <script src="{% static 'my_books/assets/js/owl-carousel.js'%}"></script>
    <script src="{% static 'my_books/assets/js/accordions.js'%}"></script>
    <script src="{% static 'my_books/assets/js/datepicker.js'%}"></script>
    <script src="{% static 'my_books/assets/js/scrollreveal.min.js'%}"></script>
    <script src="{% static 'my_books/assets/js/waypoints.min.js'%}"></script>
    <script src="{% static 'my_books/assets/js/jquery.counterup.min.js'%}"></script>
    <script src="{% static 'my_books/assets/js/imgfix.min.js'%}"></script> 
    <script src="{% static 'my_books/assets/js/slick.js'%}"></script> 
    <script src="{% static 'my_books/assets/js/lightbox.js'%}"></script> 
    <script src="{% static 'my_books/assets/js/isotope.js'%}"></script> 
    
    <!-- Global Init -->
    <script src="{% static 'my_books/assets/js/custom.js'%}"></script>

  </body>
</html>