{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
  <title>Devu's Book Store - Order Books</title>

  <!-- Additional CSS Files -->
  <link rel="stylesheet" type="text/css" href="{% static 'my_books/assets/css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'my_books/assets/css/font-awesome.css' %}">
  <link rel="stylesheet" href="{% static 'my_books/assets/css/templatemo-hexashop.css' %}">
  <link rel="stylesheet" href="{% static 'my_books/assets/css/owl-carousel.css' %}">
  <link rel="stylesheet" href="{% static 'my_books/assets/css/lightbox.css' %}">
</head>

<body>
  <!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="{% url 'index' %}" class="logo">
                        <img src="https://x23155906-book-bucket.s3.eu-west-1.amazonaws.com/my_books/logo.png" width="300" height="70">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="nav-item active"><a class="nav-link" href="{% url 'index' %}">Home</a></li>
                        <li class="nav-item active"><a class="nav-link" href="{% url 'order_books' %}">Order Books</a></li>
                        <li class="nav-item active"><a class="nav-link" href="{% url 'cart' %}">Your Cart</a></li>
                        {% if user.is_authenticated %}
                            <li class="nav-item"><a class="nav-link" href="#">{{ user.username }}</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                        {% else %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'signup' %}">Sign Up</a></li>
                        {% endif %}
                    </ul>           
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>

    <!-- ***** Header Area End ***** -->

  <!-- Main Content Area -->
  <div class="main-content" style="margin-top: 150px;">
    <div class="container">
      <div class="row">
        <!-- Book Listing -->
        <div class="col-lg-12">
          <div class="section-heading">
            <h2>New Arrivals</h2>
          </div>
          <div class="men-item-carousel">
            <div class="owl-men-item owl-carousel">
              <!-- Loop through books fetched from Django database -->
              {% for book in books %}
              <div class="item">
                <div class="thumb">
                  <img src="{{ book.image.url }}" alt="{{ book.title }}">
                </div>
                <div class="down-content">
                  <h4>{{ book.title }}</h4>
                  <p>{{ book.description }}</p>
                  <span>Price: EUR {{ book.price }}</span>
                  <button onclick="addToCart('{{ book.id }}')">Add to Cart</button>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <!-- End Book Listing -->
      </div>
    </div>
  </div>
  <!-- End Main Content Area -->

    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="first-item">
                        <div class="logo">
                            <img src="https://x23155906-book-bucket.s3.eu-west-1.amazonaws.com/my_books/logo.png" alt="">
                        </div>
                        <ul>
                            <li><a href="#">16A Mayor Street Lower,near Lagan house, Dublin 01 k7k6</a></li>
                           <li><a href="mailto:devusbookstore@gmail.com">devusbookstore@gmail.com</a></li>

                            <li><a href="#">+353 812356213</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li><a href="{% url 'order_books' %}">Order Books</a></li>
                    </ul>
                </div>
    
                <div class="col-lg-12">
                    <div class="under-footer">
                       
                        
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

  <!-- JavaScript Files -->
  <script src="{% static 'my_books/assets/js/jquery-2.1.0.min.js'%}"></script>
  <script src="{% static 'my_books/assets/js/popper.js'%}"></script>
  <script src="{% static 'my_books/assets/js/bootstrap.min.js'%}"></script>
  <script src="{% static 'my_books/assets/js/owl-carousel.js'%}"></script>
  <script src="{% static 'my_books/assets/js/accordions.js'%}"></script>
  <script src="{% static 'my_books/assets/js/scrollreveal.min.js'%}"></script>
  <script src="{% static 'my_books/assets/js/waypoints.min.js'%}"></script>
  <script src="{% static 'my_books/assets/js/jquery.counterup.min.js'%}"></script>
  <script src="{% static 'my_books/assets/js/imgfix.min.js'%}"></script>
  <script src="{% static 'my_books/assets/js/slick.js'%}"></script>
  <script src="{% static 'my_books/assets/js/lightbox.js'%}"></script>
  <script src="{% static 'my_books/assets/js/isotope.js'%}"></script>
  <script src="{% static 'my_books/assets/js/custom.js'%}"></script>

  <!-- AJAX Script for Adding to Cart -->
  <script>
    function addToCart(bookId) {
        $.ajax({
            type: 'POST',
            url: '{% url "add_to_cart" %}',
            data: {
                'book_id': bookId,
                'quantity': 1,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(response) {
                alert('Item added to cart!');
            },
            error: function(xhr, status, error) {
                console.error(error);
            }
        });
    }
</script>
</body>

</html>
